<div class="container-fluid">
    <nav-bar-component></nav-bar-component>
    <br>
    <div class="">
        <router-outlet></router-outlet>
    </div>
    <footer-component></footer-component>
</div>
  

