<div class="container">
  <h4 class="text-center"><b>All System Users</b></h4>
  <table border="1" class="table table-stripe">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Middle Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Date Of Birth</th>
      <th>Emergency Number</th>
      <th>
        Actions
      </th>
    </tr>
    <tr *ngFor="let user of userProfiles">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.middleName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.dateOfBirth | date }}</td>
      <td>{{ user.emergencyNumber }}</td>
      <td>
          <a (click)="editUserProfile(user.id)">Edit</a> |
          <a (click)="openModal(user.id, user.name, templateModal)">Delete</a>
      </td>
    </tr>
  </table>
</div>
<ng-template #templateModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ title }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
          {{ body }}      
    </div>
    <div class="mb-2 ml-3">
        <button type="button" class="btn btn-default mr-2" (click)="confirm()" >Yes</button>
        <button type="button" class="btn btn-primary ml-2" (click)="decline()" >No</button>
    </div>
</ng-template>
