<div class="container py-5">  
        <div class="card" style="width: 600px; margin: auto;">  
          <div class="card-header bg-primary text-white">  
            <h4 class="text-uppercase text-center">Login</h4>  
          </div>  
          <div class="card-body">  
            <div class="row">  
              <div class="col-sm-6 col-md-6 col-xs-12">  
                <div class="form-group">  
                  <label>Email:</label>  
                  <div class="input-group">  
                    <div class="input-group-prepend">  
                      <span class="input-group-text">  
                        <i class="fa fa-user"></i>  
                      </span>  
                    </div>  
                    <input id="email" type="text" class="form-control" [(ngModel)]="loginUser.email">  
                  </div>  
                </div>  
              </div>  
              <div class="col-sm-6 col-md-6 col-xs-12">  
                <div class="form-group">  
                  <label>Password:</label>  
                  <div class="input-group">  
                    <div class="input-group-prepend">  
                      <span class="input-group-text">  
                        <i class="fa fa-user"></i>  
                      </span>  
                    </div>  
                    <input id="password" type="password" class="form-control" [(ngModel)]="loginUser.password">  
                  </div>  
                </div>  
              </div>  
            </div>
            <button type="button" class="btn btn-outline-primary rounded-0 float-right" (click)="submit(templateModal)">Submit</button> 
          </div>
        </div>
</div>

<ng-template #templateModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{ title }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
          {{ body }}      
    </div>
</ng-template>