<div class="container">
   <h4 class="text-center">
      <b>All Contacts</b>
   </h4>
   <input 
      type="btn btn-default" 
      value="New Contact" 
      class="pull-left mt-2 mb-2 col-2 form-control" 
      (click)="openModalContact(templateContactModal)" >
   <table datatable
      #dataTable
      class="table table-striped table-bordered"
      cellspacing="0" width="100%">
      <thead>
            <tr>
                  <th>First Name</th>
                  <th>Middle Name</th>
                  <th>Last Name</th>
                  <th>Date Of Birth</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Emergency Number</th>
                  <th>Website</th>
                  <th>
                  Actions
                  </th>
            </tr>
      </thead>
      <tbody>
            <tr *ngFor="let contact of contactProfiles$">
                  <td>{{ contact.firstName }}</td>
                  <td>{{ contact.middleName }}</td>
                  <td>{{ contact.lastName }}</td>
                  <td>{{ contact.dateOfBirth | date }}</td>
                  <td>{{ contact.address }}</td>
                  <td>{{ contact.email }}</td>
                  <td>{{ contact.phoneNumber }}</td>
                  <td>{{ contact.emergencyNumber }}</td>
                  <td>{{ contact.website }}</td>
                  <td>
                        <a (click)="editUserProfile(contact.id, templateContactModal)">Edit</a> |
                        <a (click)="openModal(contact.id, contact.name, templateModal)">Delete</a>
                  </td>
            </tr>
      </tbody>
   </table>
</div>
<ng-template #templateModal>
   <div class="modal-header">
         <h4 class="modal-title pull-left">{{ title }}</h4>
         <button 
            type="button" 
            class="close pull-right" 
            aria-label="Close" 
            (click)="modalRef.hide()">
               <span aria-hidden="true">&times;</span>
         </button>
   </div>
   <div class="modal-body">
         {{ body }}
   </div>
   <div class="mb-2 ml-3">
         <button 
            type="button" 
            class="btn btn-default mr-2" 
            (click)="confirm()" >Yes
         </button>
         <button 
            type="button" 
            class="btn btn-primary ml-2" 
            (click)="decline()" >No
         </button>
   </div>
</ng-template>

<ng-template #templateContactModal>
      <div class="modal-header">
            <h4 class="modal-title pull-left">{{ title }}</h4>
            <button 
                  type="button" 
                  class="close pull-right" 
                  aria-label="Close" 
                  (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <div style="width: auto; margin: auto;">
                  <div class="row">  
                        <div class="col-sm-6 col-md-6 col-xs-12">
                              <div class="form-group">
                              <label>First Name:</label>
                                    <div class="input-group">
                                          <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="fa fa-user"></i>
                                                </span>
                                          </div>
                                          <input 
                                                id="firstName" 
                                                type="text" 
                                                [(ngModel)]="contactProfile.firstName" 
                                                class="form-control">
                                    </div>
                              </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                              <div class="form-group">
                                    <label>Middle Name:</label>
                                    <div class="input-group">
                                          <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="fa fa-user"></i>
                                                </span>
                                          </div>
                                          <input 
                                                id="middleName" 
                                                type="text" 
                                                [(ngModel)]="contactProfile.middleName" 
                                                class="form-control">
                                    </div>
                                    
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-sm-6 col-md-6 col-xs-12">
                              <div class="form-group">
                                    <label>Last Name:</label>
                                    <div class="input-group">
                                          <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="fa fa-user"></i>
                                                </span>
                                          </div>
                                          <input 
                                                id="lastName" 
                                                type="text" 
                                                [(ngModel)]="contactProfile.lastName" 
                                                class="form-control">
                                    </div>
                              </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                              <div class="form-group">
                                    <label>Date Of Birth:</label>
                                    <div class="input-group">
                                          <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="fa fa-user"></i>
                                                </span>
                                          </div>
                                          <input 
                                                id="dateOfBirth" 
                                                type="date"
                                                [(ngModel)]="contactProfile.dateOfBirth"
                                                class="form-control">
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="row">  
                        <div class="col-sm-6 col-md-6 col-xs-12">
                              <div class="form-group">
                                    <label>Address:</label>
                                    <div class="input-group">
                                          <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="fa fa-envelope"></i>
                                                </span>
                                          </div>
                                          <input 
                                                id="address" 
                                                type="text" 
                                                [(ngModel)]="contactProfile.address" 
                                                class="form-control">
                                    </div>
                              </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                              <div class="form-group">
                                    <label>Email:</label>
                                    <div class="input-group">
                                          <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="fa fa-envelope"></i>
                                                </span>
                                          </div>
                                          <input 
                                                id="email"
                                                type="text" 
                                                [(ngModel)]="contactProfile.email" 
                                                class="form-control">
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-sm-6 col-md-6 col-xs-12">
                              <div class="form-group">
                                    <label>Phone Number:</label>
                                    <div class="input-group">
                                          <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="fa fa-phone"></i>
                                                </span>
                                          </div>
                                          <input id="phoneNumber" 
                                                type="text" 
                                                [(ngModel)]="contactProfile.phoneNumber" 
                                                class="form-control">
                                    </div>
                              </div>
                         </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                              <div class="form-group">
                                    <label>Emergency Number:</label>
                                    <div class="input-group">
                                          <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="fa fa-envelope"></i>
                                                </span>
                                          </div>
                                          <input 
                                                id="emergencyNumber" 
                                                type="text" 
                                                [(ngModel)]="contactProfile.emergencyNumber" 
                                                class="form-control">
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-sm-6 col-md-6 col-xs-12">
                              <div class="form-group">
                                    <label>Website:</label>
                                    <div class="input-group">
                                          <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="fa fa-phone"></i>
                                                </span>
                                          </div>
                                          <input id="website" 
                                                type="text" 
                                                [(ngModel)]="contactProfile.website" 
                                                class="form-control">
                                    </div>
                              </div>
                        </div>
                  </div>
              </div>
            </div>
            <div class="mb-2 ml-3">
            <button 
                  type="button" 
                  class="btn btn-outline-primary rounded-1 float-right ml-2 mr-2" 
                  (click)="saveContact()" >Save
            </button>
            <button 
                  type="button" 
                  class="btn btn-primary float-right mr-2" 
                  (click)="modalRef.hide()" >Cancel
            </button>
      </div>
</ng-template>