<nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="">Privacy System</a>
      <a class="navbar-brand pull-right"><b>{{ loggedInUser }}</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" *ngIf="!loggedInUser" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" *ngIf="loggedInUser" (click)="getAllContacts()">Contacts</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" *ngIf="loggedInUser" [routerLink]="['/login']" (click)="logOut()">Logout</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" *ngIf="!loggedInUser" [routerLink]="['/signup']">Sign up</a>
          </li>
        </ul>
        <!-- <span class="navbar-text">
          Navbar text with an inline element
        </span> -->
      </div>
</nav>