<div class="container py-5">  
      <div class="card" style="width: 600px; margin: auto;">  
        <div class="card-header bg-primary text-white">  
          <h4 class="text-uppercase text-center">Registration</h4>  
        </div>  
        <div class="card-body">  
          <div class="row">  
            <div class="col-sm-6 col-md-6 col-xs-12">  
              <div class="form-group">  
                <label>First Name:</label>  
                <div class="input-group">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text">  
                      <i class="fa fa-user"></i>  
                    </span>  
                  </div>  
                  <input id="firstName" type="text" [(ngModel)]="signUpUser.firstName" class="form-control">  
                </div>  
              </div>  
            </div>  
            <div class="col-sm-6 col-md-6 col-xs-12">  
              <div class="form-group">  
                <label>Last Name:</label>  
                <div class="input-group">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text">  
                      <i class="fa fa-user"></i>  
                    </span>  
                  </div>  
                  <input id="lastName" type="text" [(ngModel)]="signUpUser.lastName" class="form-control">  
                </div>  
              </div>  
            </div>  
          </div>  
          <div class="row">  
            <div class="col-sm-6 col-md-6 col-xs-12">  
              <div class="form-group">  
                <label>Middle Name:</label>  
                <div class="input-group">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text">  
                      <i class="fa fa-user"></i>  
                    </span>  
                  </div>  
                  <input id="middleName" type="text" [(ngModel)]="signUpUser.middleName" class="form-control">  
                </div>  
              </div>  
            </div>  
            <div class="col-sm-6 col-md-6 col-xs-12">  
              <div class="form-group">  
                <label>Date Of Birth:</label>  
                <div class="input-group">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text">  
                      <i class="fa fa-user"></i>  
                    </span>  
                  </div>  
                  <input id="dateOfBirth" type="date" [(ngModel)]="signUpUser.dateOfBirth" class="form-control">  
                </div>  
              </div>  
            </div>  
          </div>  
          <div class="row">  
              <div class="col-sm-6 col-md-6 col-xs-12">  
                <div class="form-group">  
                  <label>Phone Number:</label>  
                  <div class="input-group">  
                    <div class="input-group-prepend">  
                      <span class="input-group-text">  
                        <i class="fa fa-phone"></i>  
                      </span>  
                    </div>  
                    <input id="phoneNumber" type="text" [(ngModel)]="signUpUser.phoneNumber" class="form-control">  
                  </div>  
                </div>  
              </div>  
              <div class="col-sm-6 col-md-6 col-xs-12">  
                <div class="form-group">  
                  <label>Email:</label>  
                  <div class="input-group">  
                    <div class="input-group-prepend">  
                      <span class="input-group-text">  
                        <i class="fa fa-envelope"></i>  
                      </span>  
                    </div>  
                    <input id="email" type="text" [(ngModel)]="signUpUser.email" class="form-control">  
                  </div>  
                </div>  
              </div>  
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-xs-12">  
                    <div class="form-group">  
                      <label>Emergency Number:</label>  
                      <div class="input-group">  
                        <div class="input-group-prepend">  
                          <span class="input-group-text">  
                            <i class="fa fa-envelope"></i>  
                          </span>  
                        </div>  
                        <input id="emergencyNumber" type="text" [(ngModel)]="signUpUser.emergencyNumber" class="form-control">  
                      </div>  
                    </div>  
                  </div>  
            </div>  
            <div class="row">  
                <div class="col-sm-6 col-md-6 col-xs-12">  
                  <div class="form-group">  
                    <label>Password:</label>  
                    <div class="input-group">  
                      <div class="input-group-prepend">  
                        <span class="input-group-text">  
                          <i class="fa fa-lock"></i>  
                        </span>  
                      </div>  
                      <input id="password" type="password" [(ngModel)]="signUpUser.password" class="form-control">  
                    </div>  
                  </div>  
                </div>  
                <div class="col-sm-6 col-md-6 col-xs-12">  
                  <div class="form-group">  
                    <label>Confirm Password:</label>  
                    <div class="input-group">  
                      <div class="input-group-prepend">  
                        <span class="input-group-text">  
                          <i class="fa fa-lock"></i>  
                        </span>  
                      </div>  
                      <input id="confirmPassword" type="password" [(ngModel)]="confirmPassword" class="form-control">  
                    </div>  
                  </div>  
                </div>  
              </div>  
              <button type="button" class="btn btn-outline-primary rounded-0 float-right" (click)="register()">Register</button>  
        </div>  
      </div>  
    </div>  